name: Build and release


on:
  push:
    branches:
    - master
    tags:
    - v*


jobs:
  build-linux:
    runs-on: ubuntu-24.04 # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#choosing-github-hosted-runners
    container: rust:1.91.1

    steps:
    - name: Checkout

      uses: actions/checkout@v6.0.1 # https://github.com/actions/checkout/releases
      with:
        persist-credentials: false

    - name: Build
      run: cargo build --release -vv

    - name: Archive
      run: tar -cf- -C target/release musbconv | xz -c9e - > musbconv-linux.tar.xz

    - name: Save
      uses: actions/upload-artifact@v5.0.0 # https://github.com/actions/upload-artifact/releases
      with:
        name: release-linux
        path: "*.tar.xz"


  build-windows:
    runs-on: windows-2025

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        persist-credentials: false

    - name: Build
      run: cargo build --release -vv

    - name: Archive
      run: Compress-Archive -Path target\release\musbconv.exe -DestinationPath musbconv-windows.zip

    - name: Save
      uses: actions/upload-artifact@v5.0.0
      with:
        name: release-windows
        path: "*.zip"


  build-macos:
    runs-on: macos-26

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        persist-credentials: false

    - name: Build
      run: cargo build --release -vv

    - name: Archive
      run: tar -cf- -C target/release musbconv | xz -c9e - > musbconv-macos.tar.xz

    - name: Save
      uses: actions/upload-artifact@v5.0.0
      with:
        name: release-macos
        path: "*.tar.xz"


  release:
    if: startsWith(github.ref, 'refs/tags/')

    needs:
    - build-linux
    - build-windows
    - build-macos

    runs-on: ubuntu-24.04
    steps:
    - name: Version
      id: version
      run: echo "version=${GITHUB_REF#refs/tags/}" >> "$GITHUB_OUTPUT"

    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        persist-credentials: false

    - name: Notes
      run: grep -Pzom1 "(?s)\n[##\s]*${{ steps.version.outputs.version }}.*?\n+.*?\K.*?(\n\n|$)" CHANGELOG.md | sed 's/[^[:print:]]//g' > RELEASE.md

    - name: Download
      uses: actions/download-artifact@v7.0.0 # https://github.com/actions/download-artifact/releases
      with:
        path: artifacts

    - name: Rename
      run: |
        mv artifacts/release-linux/musbconv-linux.tar.xz artifacts/release-linux/musbconv-linux-${{ steps.version.outputs.version }}.tar.xz
        mv artifacts/release-windows/musbconv-windows.zip artifacts/release-windows/musbconv-windows-${{ steps.version.outputs.version }}.zip
        mv artifacts/release-macos/musbconv-macos.tar.xz artifacts/release-macos/musbconv-macos-${{ steps.version.outputs.version }}.tar.xz

    - name: Release
      uses: softprops/action-gh-release@v2.5.0 # https://github.com/softprops/action-gh-release/releases
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: |
          artifacts/release-linux/*.tar.xz
          artifacts/release-windows/*.zip
          artifacts/release-macos/*.tar.xz
        body_path: RELEASE.md
